/* dark brownish:  #202004 */
/* brownish: #392703 */
/* tanish #9fa172 */
body {
  background-color: #202004;
}

a {
  color: #9fa172;
}

h1, h2, h3, h4, h5 {
  color: #392703;
}

textarea {
  height: 60px;
}

hr {
  background-color: #202004;
  height: 3px;
}

hr.slim {
  height: 1px;
}

.container {
  padding: 40px;
  margin: 40px auto;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background-color: #eeeeee;
  color: black;
}

#heading {
  text-shadow: 1px 1px 5px #9fa172;
  text-align: center;
  border-bottom: 5px #392703 solid;
}

#content {
  padding: 10px 0;
}

#navigation {
  padding: 10px 0;
  border-bottom: 5px #392703 solid;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  border-left: 1px #392703 solid;
  border-right: 1px #392703 solid;
  list-style: none;
  display: inline;
  margin-right: 20px;
}

#navigation a {
  padding: 5px;
  text-decoration: none;
}

#sidebar {
  margin-left: -1px;
  border-left: 1px #392703 solid;
}

#sidebar a {

}
