body {
  background-color: black;
  color: white;
}

a {
  color: #9fa172;
}

h1, h2, h3, h4, h5 {
  color: #c6c66e;
}

a:hover {
  background-color: #9fa172;
  color: black;
}

#heading {
  background-color: #202004;
  border-bottom: 1px solid white;
}

#navigation {
  padding: 10px 0;
  border-bottom: 1px solid white;
}

#content {
  padding: 10px 0;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

#navigation a {
  background-color: #392703;
  padding: 5px;
  text-decoration: none;
}

#navigation a:hover {
  color: #392703;
  background-color: #9fa172;
}
