<h2>Sign up</h2>

<% semantic_form_for @user do |form| %>
  <%= form.error_messages %>

  <%= form.inputs :screen_name, :email, :password, :password_confirmation %>

  <% form.buttons do %>
    <%= form.commit_button :label => 'Sign up' %>
  <% end %>
<% end %>

