<p>
  No truer words have ever been spoken by our patron saint <a href="http://www.imdb.com/character/ch0007244/">Ron Burgendy</a>. If you share his sentiments on scotch, or are just coming to appreciate it's deliciousousity, then The Scotch Zone is relevant to your interests.
</p>

<p>
  There are a lot of fine scotches out there. Some may say too many (they're wrong; there is no such thing). Regardless, it can be tricky to keep track track of all the scotches you've had in your scotch career, doubly so after a few scotches.
</p>

<p>
  The Scotch Zone, foremost, was designed to help the up and coming scotch drinkers and experiences scotch drinkers alike with a means to track their scotch history. Think of it as a scotch log, or sclog.
</p>

<p>
  So, drink up, gentlefolk, and keep on scotching and sclogging.
</p>

<%= link_to "Scotch a new note", new_scotch_path, 'data-role' => 'button', 'data-icon' => 'plus', 'data-inline' => 'true' %>

<h4>Recent Scotch Notes</h4>

<ul data-role="listview">
  <% @recent_notes.each do |note| %>
  <li>
    <%= link_to "#{note.scotch} by #{note.user}", note %>
  </li>
  <% end %>
</ul>
