<% self.page_title = 'Behold, Scotches!' %>

<ul>
  <%- @scotches.each do |scotch| %>
    <li><%= link_to h(scotch), scotch_path(scotch) %> (<%= pluralize(scotch.notes.count, 'notes') %>)</li>
  <%- end %>
</ul>

<p>Did we miss one? Doh. <%= link_to "Let us know!", new_scotch_path %>
